body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

input, button, textarea {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
    max-width: 400px;
}

textarea {
    resize: none;
}

#map {
    margin-top: 20px;
}
